flow.json
[
    {
        "id": "a2f85af1ed162c68",
        "type": "tab",
        "label": "Natural language to OpenAI API",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "37cc6d69b2bf1837",
        "type": "http in",
        "z": "a2f85af1ed162c68",
        "name": "",
        "url": "/createNaturalLanguage",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 160,
        "y": 60,
        "wires": [
            [
                "a64fda57b7166362"
            ]
        ]
    },
    {
        "id": "a64fda57b7166362",
        "type": "function",
        "z": "a2f85af1ed162c68",
        "name": "OpenAI API properties",
        "func": "\n//const api_key = global.get('process_env').OPENAI_API\nconst api_key = msg.payload.key;\nconst content = msg.payload.text;\n\n// OpenAI API properties\nconst settings = {\n    model: \"text-davinci-003\",\n    prompt: content,\n    max_tokens: 64,\n    temperature: 0,\n    top_p: 1.0,\n    frequency_penalty: 0.0,\n    presence_penalty: 0.0,\n    stop: [\"###\"]\n\n};\n\nif (api_key) {\n    msg.url = 'https://api.openai.com/v1/completions';\n    msg.headers = {\n        'Content-Type': 'application/json',\n        'Authorization': `Bearer ${api_key}`,\n    };\n    msg.payload = settings;\n    msg.settings = settings;\n    return [msg, null];\n} else {\n    msg.payload = settings;\n    msg.settings = settings;\n    return [null, msg];\n}\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 60,
        "wires": [
            [
                "999d131ad3d93cc4",
                "feb36c88365d433f"
            ],
            [
                "72460e3c9a76d5cc"
            ]
        ]
    },
    {
        "id": "999d131ad3d93cc4",
        "type": "http request",
        "z": "a2f85af1ed162c68",
        "name": "OpenAI API",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 650,
        "y": 60,
        "wires": [
            [
                "2d23bfc84710afb4"
            ]
        ]
    },
    {
        "id": "2d23bfc84710afb4",
        "type": "function",
        "z": "a2f85af1ed162c68",
        "name": "Response",
        "func": "function convertPayloadToObject(msg) {\n    let objArr = [];\n    for (const [key, value] of Object.entries(msg)) {\n        objArr.push({ key, value });\n    }\n    return objArr;\n}\nif (!msg.payload.error) {\n    msg.payload = {\n        succsess: true,\n        text: msg.payload.choices[0].text,\n        settings: convertPayloadToObject(msg.settings)\n    }\n} else {\n    msg.payload = {\n        succsess: false,\n        payload: msg.payload.error.code\n    }\n}\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 840,
        "y": 60,
        "wires": [
            [
                "39bd15825822d473",
                "feb36c88365d433f"
            ]
        ]
    },
    {
        "id": "39bd15825822d473",
        "type": "http response",
        "z": "a2f85af1ed162c68",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1030,
        "y": 60,
        "wires": []
    },
    {
        "id": "feb36c88365d433f",
        "type": "debug",
        "z": "a2f85af1ed162c68",
        "name": "succses",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1020,
        "y": 20,
        "wires": []
    },
    {
        "id": "72460e3c9a76d5cc",
        "type": "function",
        "z": "a2f85af1ed162c68",
        "name": "Response",
        "func": "function convertPayloadToObject(msg) {\n    let objArr = [];\n    for (const [key, value] of Object.entries(msg)) {\n        objArr.push({ key, value });\n    }\n    return objArr;\n}\n\nmsg.payload = {\n    settings: convertPayloadToObject(msg.settings)\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 670,
        "y": 120,
        "wires": [
            [
                "f536e60d62fb7713"
            ]
        ]
    },
    {
        "id": "f536e60d62fb7713",
        "type": "http response",
        "z": "a2f85af1ed162c68",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 820,
        "y": 120,
        "wires": []
    }
]